{% extends "layout.html" %}
{% block title %}Đăng nhập{% endblock %}
{% block main %}
    <div class="row justify-content-center">
        <div class="col-12 col-md-6 col-lg-5 col-xl-4">
            <form method="POST" class="form" novalidate="">
                <div class="mb-3 text-center">
                    <i class="bi bi-back"></i>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="username">Tài khoản</label>
                    <div class="form-text"></div>
                    <input class="form-control"
                           id="username"
                           name="username"
                           required=""
                           type="text"
                           value="">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="password">Mật khẩu</label>
                    <div class="form-text"></div>
                    <input class="form-control"
                           id="password"
                           name="password"
                           required=""
                           type="password"
                           value="">
                </div>
                {% if logout %}
                    <div class="alert alert-success alert-dismissible fade show d-flex align-items-center"
                         role="alert">
                        <i class="bi bi-check-circle-fill"></i>
                        <span class="ms-1">Đăng xuất thành công</span>
                        <button type="button"
                                class="btn-close"
                                data-bs-dismiss="alert"
                                aria-label="Close"></button>
                    </div>
                {% endif %}
                <div class="mb-3 text-center">
                    <button class="btn btn-primary d-block w-100">Đăng nhập</button>
                </div>
                <div class="text-center">
                    <span class="mr-1">Chưa có tài khoản?</span>
                    <a href="/auth/register" class="btn btn-outline-dark">Đăng ký</a>
                </div>
            </form>
        </div>
    </div>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class=alert>
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
{% endblock %}
