{% extends "layout.html" %}
{% block title %}Đăng ký{% endblock %}
{% block main %}
    <div class="row justify-content-center">
        <div class="col-12 col-md-6 col-lg-5 col-xl-4">
            <form method="POST" class="form" novalidate="">
                <div class="mb-3 text-center">
                    <i class="bi bi-back"></i>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="name">Tên của bạn</label>
                    <div class="form-text"></div>
                    <input class="form-control"
                           id="name"
                           name="name"
                           required=""
                           type="text"
                           value="">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="username">Tài khoản</label>
                    <div class="form-text">
                        Tên tài khoản phải có độ dài 6-12 ký tự, chỉ chứa ký tự, số, không được phép chứa ký tự đặc biệt
                    </div>
                    <input class="form-control"
                           id="username"
                           maxlength="12"
                           minlength="6"
                           name="username"
                           required=""
                           type="text"
                           value="">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="password">Mật khẩu</label>
                    <div class="form-text">Mật khẩu phải có độ dài tối thiểu 6 ký tự và chứa ít nhất 1 chữ số và 1 ký tự đặc biệt</div>
                    <input class="form-control"
                           id="password"
                           minlength="6"
                           name="password"
                           required=""
                           type="password"
                           value="">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="confirm">Xác nhận lại mật khẩu</label>
                    <div class="form-text"></div>
                    <input class="form-control"
                           id="confirm"
                           name="confirm"
                           required=""
                           type="password"
                           value="">
                </div>
                <div class="mb-3 text-center">
                    <button class="btn btn-primary d-block w-100">Đăng ký</button>
                </div>
                <div class="text-center">
                    <span class="mr-1">Đã có tài khoản?</span>
                    <a href="/auth/login" class="btn btn-outline-dark">Đăng nhập</a>
                </div>
            </form>
        </div>
    </div>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class=alert>
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
{% endblock %}
