{% extends "layout.html" %}
{% block title %}Trang chủ{% endblock %}
{% block main %}
    <div class="row justify-content-center">
        <div class="col-12 col-lg-8 col-xl-7">
            <section class="section hero text-center">
                <img src="/static/g1.jpeg" height="300" />
                <h2 class="display-2">Tạo, Lưu trữ và Chia sẻ mã của bạn</h2>
                <a class="btn btn-primary" href="/auth/register">Bắt đầu</a>
            </section>
        </div>
    </div>
{% endblock %}
